.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name {
  text-align: center;
  font-size: 30px;
  color: #F8FAF7;
  text-transform: uppercase;
}

.fighter-preview___image {
  max-width: 120px;
}

.fighter-preview___right .fighter-preview___image{
  transform: scaleX(-1);
}

.fighter-preview___details {
  background-color: #1F333A;
  color: #ffdfa7;
}

.fighter-preview___details ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
